{% extends 'layout.html' %}

{% block body %}
<body class="black">

<div class="container-fluid h-100">
    <div class="row h-100 w-100 align-items-center">
        <div class="col-12">
            <div align="center" class="embed-responsive embed-responsive-16by9">
                <video src="{{ url_for('static', filename='animation/BackgroundLoop.mp4') }}" autoplay loop>
                </video>
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for('static', filename='js/jquery-3.1.1.slim.js') }}"></script>
<script src="{{ url_for('static', filename='js/tether.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

<script src="{{ url_for('static', filename="js/socket.io.js") }}"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {

        var socket = io.connect();

        socket.on('connect', function () {
            socket.emit('my event', {data: 'I\'m connected!'});
            console.log(socket.id)
        });

        socket.on('day become', function (msg) {
            var video = document.getElementsByTagName('video');

            switch (msg.day) {
                case 'sunday':
                    video[0].setAttribute('src', '{{ url_for('static', filename='animation/0_Sunday_Tweet.mp4') }}');
                    break;
                case 'monday':
                    video[0].setAttribute('src', '{{ url_for('static', filename='animation/1_Monday_Tweet.mp4') }}');
                    break;
                case 'tuesday':
                    video[0].setAttribute('src', '{{ url_for('static', filename='animation/2_Tuesday_Tweet.mp4') }}');
                    break;
                case 'wednesday':
                    video[0].setAttribute('src', '{{ url_for('static', filename='animation/3_Wednesday_Tweet.mp4') }}');
                    break;
                case 'thursday':
                    video[0].setAttribute('src', '{{ url_for('static', filename='animation/4_Thursday_Tweet.mp4') }}');
                    break;
                case 'friday':
                    video[0].setAttribute('src', '{{ url_for('static', filename='animation/5_Friday_Tweet.mp4') }}');
                    break;
                case 'saturday':
                    video[0].setAttribute('src', '{{ url_for('static', filename='animation/6_Saturday_Tweet.mp4') }}');
                    break;
                case 'now':
                    video[0].setAttribute('src', '{{ url_for('static', filename='animation/0_Sunday_Tweet.mp4') }}');
                    break;
                default:
                    console.log(msg);
            }

        });
    });
</script>



{% endblock %}
