{% extends 'layout.html' %}

{% block body %}

    <div class="container">
        <div class="row h-25 w-100 justify-content-center">
            <div class="col text-center justify-content-center">
                <a href="{{ url_for('shadowscape', day='1') }}" role="button" id="sunday">
                    <img src="{{ url_for('static', filename='img/sun.svg') }}" class="img-fluid">
                    <!--Sunday -->
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ url_for('shadowscape', day='2') }}" role="button" id="monday">
                    <img src="{{ url_for('static', filename='img/mon.svg') }}" class="img-fluid">
                    <!-- Monday -->
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ url_for('shadowscape', day='3') }}" role="button" id="tuesday">
                    <img src="{{ url_for('static', filename='img/tue.svg') }}" class="img-fluid">
                    <!-- Tuesday -->
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ url_for('shadowscape', day='4') }}" role="button" id="wednesday">
                    <img src="{{ url_for('static', filename='img/wed.svg') }}" class="img-fluid">
                    <!-- Wednesday -->
                </a>
            </div>

        </div>
        <div class="row h-25 w-100 justify-content-center">
            <div class="col text-center">
                <a href="{{ url_for('shadowscape', day='5') }}" role="button" id="thursday">
                    <img src="{{ url_for('static', filename='img/thu.svg') }}" class="img-fluid">
                    <!-- Thursday-->
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ url_for('shadowscape', day='6') }}" role="button" id="friday">
                    <img src="{{ url_for('static', filename='img/fri.svg') }}" class="img-fluid">
                    <!-- Friday -->
                </a>
            </div>
            <div class="col text-center">
                <a href="{{ url_for('shadowscape', day='7') }}" role="button" id="saturday">
                    <img src="{{ url_for('static', filename='img/sat.svg') }}" class="img-fluid">
                    <!-- Saturday -->
                </a>
            </div>

            {#        <div class="col my-auto mx-auto">#}
            {#            <a href="{{ url_for('shadowscape', day='0') }}" role="button" id="now">#}
            {#                <img src="{{ url_for('static', filename='img/now.svg') }}" class="img-fluid">#}
            {#                <!-- Now -->#}
            {#            </a>#}
            {#        </div>#}
        </div>

        <div class="row w-100 h-50 mx-auto my-auto justify-content-center">
            <img src="/static/img/logo.svg">
        </div>

    </div>


{% endblock %}
