<!DOCTYPE HTML>
<html>
<head>
    <title>Synchronized Sliders</title>
</head>
<body>
    <h1>Synchronized Sliders!</h1>

    <input id="slider1" type="range" min="0" max="50" value="25" /> <br>
    <input id="slider2" type="range" min="0" max="50" value="0" />


<script src="{{ url_for('static', filename='js/jquery-3.1.1.slim.js') }}"></script>
<script src="{{ url_for('static', filename='js/tether.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

<script src="{{ url_for('static', filename="js/socket.io.js") }}"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){

        var socket = io.connect();

        // the socket.io documentation recommends sending an explicit package upon connection
        socket.on('connect', function() {
            socket.emit('connect', {data: 'I\'m connected!'});
        });

        $('input.sync').on('input', function(event) {
            socket.emit('value changed', {who: $(this).attr('id'), data: $(this).val()});
            return false;
        });

    });
</script>

</body>
</html>